
---
interface Props{
    text: string;
    
}

const props = Astro.props

---


<nav role="navigation" class="w-full">
  <!-- BARRA INFERIOR (MOBILE) -->

    <div class="md:hidden flex justify-between p-4 bg-white">
        <div class="flex">
        <button class="hover:text-gray-600 focus:outline-none me-2" aria-label="Abrir menu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <a href="/" aria-label="Logo del sitio">
            <h1 class="text-dark-500 text-2xl italic" style="letter-spacing: 0.3rem;">{props.text}</h1>
        </a>
        </div>

        <ul class="flex gap-2 py-2">
            <li>
                <a href="/" aria-label="Search">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-zoom"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                </a>
            </li>
            <li>
                <a href="/" aria-label="Instagram">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                </a>
            </li>
            <li>
                <a href="/" aria-label="Twitter">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                </a>
            </li>
        </ul>
    </div>


  <!-- NAVBAR SUPERIOR (DESKTOP) -->
  <div class="hidden md:flex justify-center items-center px-6 py-3 bg-white shadow border-b border-gray-200">
    <!-- Lado Izquierdo -->
    <ul class="flex gap-6 text-gray-700 text-sm me-5">
      <li><a href="/" class="hover:text-blue-600 transition-colors" aria-label="Inicio">Inicio</a></li>
      <li><a href="/servicios" class="hover:text-blue-600 transition-colors" aria-label="Servicios">Servicios</a></li>
    </ul>

    <!-- Logo Centrado -->
    <div>
      <a href="/" aria-label="Logo del sitio">
        <h1 class="text-red-500 text-4xl italic" style="letter-spacing: 0.8rem;">{props.text}</h1>
      </a>
    </div>

    <!-- Lado Derecho -->
    <ul class="flex gap-6 text-gray-700 text-sm ms-5">
      <li><a href="/acerca" class="hover:text-blue-600 transition-colors" aria-label="Acerca de">Acerca de</a></li>
      <li><a href="/contacto" class="hover:text-blue-600 transition-colors" aria-label="Contacto">Contacto</a></li>
    </ul>
  </div>
</nav>